* {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #4a5e78;
}

.logoutText {
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
    margin-left: 5%;
    width: 90%;
}

table a {
    background: rgba(231, 225, 225, 0) ;
    color: black;
}

table td,
table th {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    background-color: rgba(61, 130, 68, 0.8);
    min-width: 310px;
    padding-left: 20px;
    color: #000;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background:linear-gradient(to right, #459149, #4f32a0);
    color: black;
}

.dir {
    width: 3%;
    background: rgb(231, 225, 225);
}

.file {
    width: 3%;
    background: rgb(231, 225, 225);
}

.warning {
    color:yellow;
    font-weight: 400;
    margin-left: 5%;
}

.warningUpl {
    color:yellow;
    font-weight: 400;
    margin-left: 55%;
}

.warningDlt {
    color:yellow;
    font-weight: 400;
    text-align: center;
    margin-top: 150px;
}

.createField{
    padding: 10px 5px 10px 10px;
    width: 40%;
    background: linear-gradient(to left, #459149, #4f32a0);
    margin: 2% 0 5% 5%;
    float: left;
}

.createInput {
   line-height: 2;
   width: 50%;
   background-color: inherit;
}


.createButton:hover {
    background-color: #ff0000 ;
}

.createButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.uploadField{
    padding: 10px 5px 10px 10px;
    background: linear-gradient(to left, #459149, #4f32a0);
    width: 40%;
    text-align: center;
    margin: 2% 5% 5% 0;
    float: right;
}

.uploadInput {
    line-height: 2;
    width: auto;
    color: #fff;
}

.downloadBtn:hover {
    color: #F39C12;
}


.deleteBtn:hover {
    background-color: rgb(154, 12, 12);
}


.navButton{
    color:#5007d7 ;
    line-height: 2;
    font-size: 20px;
}

.container {
    margin-bottom: 20px;
}

.former {
    margin-bottom: 0;
}

.md-3 {
    text-align: center;
}

::file-selector-button {
    background-color: inherit;
    color: #fff;
}